@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

/* global styles */
*{
	margin: 0px;
}
body{
	font-family: "lato", sans-serif;
	background-color: #fdfdfd;
}
body .main-container{
	width: 1015px;
}
/* global classes ends */

/* header */
.logo{
	margin-top: 46px;
}
.para1{
	font-size: 14px;
	font-weight: bold;
	margin-top: 40px;
}
.para2{
	font-size: 16px;
	font-weight: light;
}
/* header ends */

/* section steps 26 */
.steps26{
	margin-top: 55px;
}
.steps26 p{
	font-size: 18px;
	font-weight: bold;
	opacity: 0.4;
}
.uploads p{
	font-size: 40px;
	font-weight: 400;
}
.drag-drop{
	margin-top: 71px;
} 
.drag-drop-main{
	background-color: #f5f8fa;
	border-radius: 8px;
}
.sub{
	border: 3px dashed #dcdfe1;
	padding: 0px 0px;
	margin: 13px 2px;
	border-radius: 8px;	
}
.sub p{
	margin-top: 30px;
	font-size: 20px;
}
.sub .btn{
	margin-top:35px;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	border-radius: 20px;
	background-image: linear-gradient(to bottom, #24c0c3, #5de2b2);
	margin-bottom: 20px;
}

/* section drag drops ends */

/* section examples */
.example{
	margin-top: 51px;
}
.examples p{
	font-weight: bold;
	opacity: 0.4;
}
.product{
	margin-top: 48px;
}
.product ul{
	margin-left: -15%;
}
.product .img1{
	box-shadow: 0px 10px 10px 0px #f4f4f4;
	padding: 36px 34px 31px 53px;
	border-radius: 20px;
}
.product .img2{
	box-shadow: 0px 10px 10px 0px #f4f4f4;
	padding: 24.5px 46px;
	border-radius: 20px;
}
.product .img3{
	box-shadow: 0px 10px 10px 0px #f4f4f4;
	padding: 26px 63px;
	border-radius: 20px;
}
.continue{
	margin-top: 56px;
}
.continue button{
	width: 100%;
	font-size: 32px;
	color: #fff;
	background-color: #f0813b;
	border-radius: 10px;
}
/* section continue ends */


/* aside section*/
.trade{
	position: fixed; 
	top: 0px; 
	left: 85%;
	width: 390px;
	height:824px;
}
.callus{
	margin-top: 60px;
}
.team-title{
	background-color: #e8edf0;
}
.team-man{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: -12%;
	overflow: hidden;
	min-height: 100px;
	height: 100px;
	min-width: 100px;
	width: 100px;
	border-radius: 50%;
}
.team-man img{
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	border-radius: 50%;
}
.team-block h5{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 70px;
	margin-bottom: 5px;
}
.team-block span{
	color: #6c6c6c;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}
.team-block h6{
	color: dimgrey;
	font-size: 32px;
	padding: 25px 15px;
	line-height: 24px;
}
.team-description{
	background-color: #f5f8fa;	
}
.team-description dl{
	padding-top: 20px;
	padding-bottom: 40px;
}
.team-block dl dd{
	font-size: 18px;
}
/* aside section ends */

/* section copyright */
.trademark{
	margin-top: 97px;
}
.copyright p{
	margin-left: 25px;
	margin-top: 10px;
	font-size: 16px;
	opacity: 0.4;
}
.rights{
	margin-top: 48px;
	margin-bottom: 110px;
}
.rights p{
	font-size: 14px;
	opacity: 0.4;
}
.rights p span{
	color: #f0813b;
}
/* footer ends */


/* media queries for responsiveness*/
@media screen and (max-width: 667px) { 
	.trade{
		position: static;
	}
	.trade .col-sm-3{
		flex: 50%;
		max-width: 50%;
		margin-left: 25%;
	}
	.copyright p{
		margin: 20px 40%;
	}
	.main-header p{
		margin-top: 10px;
		text-align: center!important;
	}
}

@media screen and (max-width:768px) and (min-width: 667px){
	.uploads p{
		font-size: 29px;
	}
	.copyright p{
		margin-left: 105px!important;
	}
	.trademark .col-sm-3{
		flex: 25%;
		max-width: 25%;
		margin-left: 15%;
	}
	.trademark .col-sm-4{
		flex: 41%;
		max-width: 41%;
		margin-left: 25%;
		margin-top: 20px;
	}
}
@media screen and (max-width: 1024px) and (min-width:768px) { 
	.uploads .col-sm-8{
		padding-right: 0px;
		padding-left: 0px;
	}
	.trade{
		position: static;
	}
	.trade .col-sm-3{
		flex: 50%;
		max-width: 50%;
		margin-left: 25%;
	}
	.product .col-sm-2{
		flex: 50%;
		max-width: 50%;
		margin-left: -25%;
	}
	.product .img1{
	box-shadow: 0px 12px 12px 12px #f4f4f4;
	padding: 36px 34px 31px 55px;
	}
	.product .img2{
		box-shadow: 0px 12px 12px 12px #f4f4f4;
		padding: 24.5px 46px;
	}
	.product .img3{
		box-shadow: 0px 12px 12px 12px #f4f4f4;
		padding: 26px 63px;
	}
	.copyright p{
		margin-left: 45px;
	}
}
